%h1 Panel admina
%hr
.row
  .col-12
    %h3 Wgrywanie substancji aktywnych
    = simple_form_for :drugs, url: upload_substances_csv_path do |f|
      = f.input :file, as: :file, label: 'Plik z substancjami aktywnymi', input_html: { accept: '.csv' }
      = f.input :status, collection: medicaments_statuses, label: 'Status'
      = f.button :submit, class: 'btn btn-primary'

.row
  .col-12
    %h3 Wgrywanie leków
    = simple_form_for :drugs, url: upload_drugs_csv_path do |f|
      = f.input :file, as: :file, label: 'Plik z lekami', input_html: { accept: '.csv' }
      = f.input :status, collection: medicaments_statuses, label: 'Status'
      = f.button :submit, class: 'btn btn-primary'