= simple_form_for medicament do |f|
  = f.input :name
  = f.input :status, as: :select, collection: [:ordinable, :pursued]
  = f.association :medicament_groups, input_html: { class: 'select2' }
  = f.button :submit, class: 'btn btn-primary'

:javascript
  $(".select2").select2({
    theme: "bootstrap"
  })